* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family:'Times New Roman', Times, serif;
}

body {
  background-image: url('images/nyan.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

#color-palette {
  margin-left: auto;
  margin-right: auto;
}

#title {
  font-family: DotGothic16, sans-serif;
  font-size: 42px;
  color: rgb(212, 192, 192);
  text-align: center;
}

.color , .selected {
  width: 30px;
  height: 30px;
  border: solid 1px black;
}

.pixel {
  width: 40px;
  height: 40px;
  border: solid 1px black;
  background-color: white;
  padding: 5px;
}

#pixel-board {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

.sort-color , .form-container {
  text-align: center;
}

.button-container {
  padding: 5px;
  margin: 4px;
  border-radius: 5px 40px 20px 40px;
  background-color: #f8fc17;
}

.input-number {
  padding: 4px;
  background-color: #f8fc17;
  border-radius: 6px;
}

footer {
  margin-top: 10%;
  margin-left: 10%;
  color: rgb(219, 189, 195);
}
